body {
  background: url(../img/ratpack.jpg) no-repeat top;
  padding-top: 10px;
}
h1, h2 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: right;
}
h1 {
  font-weight: 900;
  font-style: italic;
  color: yellow;
  font-size: 200px;
}
h2 {
  font-weight: 400;
  font-size: 50px;
  color: white;
}

section {
  padding: 10px 20px;
  margin: 20px 0;
  background: rgba(255,255,255,.5);
}
li pre {
  display: inline;
  padding: 2px;
}
.navbar {
  z-index: -1;
}