body {
  background: url(../img/ratpack.jpg) no-repeat top;
}
h1, h2 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: right;
}
h1 {
  font-weight: 900;
  font-style: italic;
  color: yellow;
  font-size: 200px;
}
h2 {
  font-weight: 900;
  font-size: 100px;
}